
# Ignore IDE project directories
.vs/*
.vscode/*
.idea/*

# EXCEPT THE FOLLOWING IDE PROJECT FILES:
!.vscode/launch.json
!.vscode/extensions.json

# Ignore Doxygen output directory
docs/ref/doxygen/*
docs/ref/index.html

# Ignore Ghidra project directory
ghidra/*

# Ignore all draw.io metadata files
docs/prj/*.bkp
docs/prj/*.dtmp

# Ignore artifact output directories
build/*
install/*

# Ignore generated sources
lib/include/chevron_meta/info.h
lib/include/chevron_meta/version.h
